<form novalidate name="formEst">
  <div class="form-group">
    <label for="exampleInputEmail1">Nombres y Apellidos</label>
    <input ng-model='vm.data.name' type="text" class="form-control" id="exampleInputEmail1" placeholder="Nombres completos" required>
  </div>
  <div class="form-group">
    <label class="radio-inline">
      <input ng-model='vm.data.sex' type="radio" name="gerRadio" value="hombre"> Hombre
    </label>
    <label class="radio-inline">
      <input ng-model='vm.data.sex' type="radio" name="gerRadio" value="mujer"> Mujer
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input ng-model='vm.data.estado' type="checkbox"> Habilitado
    </label>
  </div>
  <button type="submit" class="btn btn-default" ng-disabled='formEst.$invalid' ng-click='vm.almacenar()'>{{vm.textSubmit}}</button>
  <a ng-show='vm.reg' class="btn btn-info" ng-click='$window.history.back()'>Volver</a>
</form>